# Per-machine preferences and configuration
override.config

notes.txt

# Don't save the release build folder
abbrv/


# Don't save any OS junk or compiled results
*.sw*
*.input
obj/
*.exe
Session.vim
Session.vim.*
bin/*.exe
tags
tags.log
src.dll
src_temp.dll
.vs/
config.abbrv # don't save any built configs

# Don't store any logs, aside from the folder itself
logs/*
!logs/.keep

# Debug information we don't want to keep around
bin/*.rdbg
bin/*.exp
bin/*.lib
bin/*.ilk
bin/*.pdb
bin/*.manifest
bin/test.sav
# Do we actually want to share this? Maybe provide
# a default version?
bin/imgui.ini

# Don't same screenshots, aside from the folder itself
screenshots/*
!screenshots/.keep

# Killing all the junk that CMake produces
src/.vs
src/*.vcxproj
src/*.vcxproj.filters
CMakeCache.txt
CMakeFiles
Debug/
cmake_install.cmake
cgame.txt
.cache/

compile_commands.json


# Killing all the junk that CMake produces WITH Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

!utils/binary_to_compressed_c.exe
