# Per-machine preferences and configuration
override.config

notes.txt

# Don't save the release build folder
abbrv/


# Don't save any OS junk or compiled results
*.sw*
*.input
obj/
*.exe
Session.vim
Session.vim.*

tags
tags.log
src.dll
src_temp.dll
.vs/


config.abbrv # don't save any built configs
bin/config.abbrv # don't save any built configs

# Don't store any logs, aside from the folder itself
logs/*
!logs/.keep

# Debug information we don't want to keep around
# as well as local config stuff that gets generated
bin/*.rdbg
bin/*.exp
bin/*.lib
bin/*.ilk
bin/*.pdb
bin/*.manifest
bin/*.exe
bin/imgui.ini

# Killing all the junk that CMake produces
src/.vs
src/*.vcxproj
src/*.vcxproj.filters
CMakeCache.txt
CMakeFiles
Debug/
cmake_install.cmake
cgame.txt
.cache/

compile_commands.json


# Killing all the junk that CMake produces WITH Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

!utils/binary_to_compressed_c.exe
